#login-form {
    max-width: 100px;
    margin: 20px;
    margin-top: 8%;
    padding: 50px;
    border: 0.1px solid rgb(1, 1, 1);
    border-radius: 0px;

    text-align: center;
    background-position: 50% 0%;
    position: relative;
    top: 50px;
    left: 0%;
    color: rgb(0, 0, 0);
 
    backface-visibility: 50px;
    font-family: 'MiFuente';
    font-size: 11px;
    
  }
 .contLoginGeneral{

  top: 100px;
  width: 100%;
  position: relative;height: 40vh;
 }
 #contLoginGeneral{
  height: 90vh;

 }
 .botonLogeo{
  position: relative;
  top: 10px;
  width: 300px;
  border-radius: 10px;
  background-color: #000000;
transition: 1s;
 }
 .botonLogeo:hover{
  transition: 1s;
  background-color: #868484;
  color: #000000;
 }

 .bienvenidosText{
  position: relative;
  top: 20px;

  color: #787777;
  font-size: 50px;
}


  

 .buttonLCont{
width:50%;
  position: relative;
  top: 0%;
  height: 50vh;
  border-radius: 10px;
  left: 5%;
  top: -90%;
transition: 1s;

 }

 .buttonLCont:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  animation: luz 1s ease-in-out; /* Agregamos la animación llamada 'luz' */
}

@keyframes luz {
  0% {
    backdrop-filter: blur(5px);
  }
  50% {
    backdrop-filter: blur(2px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}
 @keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.imgText {
  width: 850px;
  position: relative;
  left: 27%;
  top: -10%;
  filter: grayscale(100%);
  animation: pulsar 5s infinite ease-in-out; /* Ajusta la duración y la función de temporización según tus preferencias */
}
  h2{
    color: #fff;
    position: relative;
    top: -5%;
    font-size: 10px;
    
  }
  .clave{
    width: 80%;
  }
  .error{
    color: rgb(209, 104, 104);
    font-size: 10px;
    margin-top: 35px;
  }
  .form-group{
    background-color: #4a4b4b;
  }
  @media screen and (max-width: 1300px) {
    .login-form {
      background-position: 50% 90%;
    }
  }
  @media screen and (max-width: 500px) {
    .login-form {
      margin-top: 3%;
    }
  }
  @media screen and (max-width: 480px) {
    .login-form {
      margin-top: 37%;
    }
  }
  @media screen and (max-width: 400px) {
    .login-form {
      margin-top: 25%;
    }
  }

  .form-group {
    margin-bottom: 20px;
    background-color: transparent;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
  }
  .inputLg[type="text"],
  .inputLg[type="password"] {
  width: 80%;
  padding: 5px;
  margin-bottom: 15px;
  border: none; /* Elimina el borde por completo */
  border-bottom: 1px solid #000; /* Aplica solo la lÃ­nea en la parte inferior */
  border-radius: 0px;
  filter: opacity(70%);
  color: rgb(159, 42, 42);
  position: relative;
  left: 20px;
}

  
 .btnn {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
    
  }
  
  .btnn:hover {
    background-color: #ffffff;
    transition: 1s;
    color:black;
  }
  @media screen  and (max-width: 1208px) {
    .bienvenidosText {
      font-size: 40px;     
    }
    .imgText {
      width: 600px;
      position: relative;
      left: 27%;
      top: -9%;
      filter: grayscale(100%);
      animation: pulsar 5s infinite ease-in-out; /* Ajusta la duración y la función de temporización según tus preferencias */
    }
    .buttonLCont{
      width:50%;
        position: relative;
        top: 0%;
        height: 50vh;
        border-radius: 10px;
        left: 0%;
        top: -70%;
      transition: 1s;
       }
  }
  @media screen  and (max-width: 900px) {
    .bienvenidosText {
      font-size: 30px;     
    }
    .imgText {
      width: 500px;
      position: relative;
      left: 27%;
      top: 0%;
      filter: grayscale(100%);
      animation: pulsar 5s infinite ease-in-out; /* Ajusta la duración y la función de temporización según tus preferencias */
    }
    .buttonLCont{
      width:50%;
        position: relative;
        top: 0%;
        height: 50vh;
        border-radius: 10px;
        left: 0%;
        top: -50%;
      transition: 1s;
       }
  }
  .imgLogin{
    width: 180px;
    position: relative;
   z-index: 2000;
    
  }
  .imgLoginGif{
position: relative;
top: -500px;
left: 30%;
z-index: 0;
  }
